<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--    Область с настройками, в данном случае присвоил переменной filePattern шаблон для построения, потому что он используется часто-->
    <property name="filePattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

<!--    Область с включениями сторонних файлов для аппендеров, потому что если их разместить тут, то будет много дублирующегося кода.-->
    <include resource="appenders/hibernate-appenders.xml"/>
    <include resource="appenders/app-appenders.xml"/>
    <include resource="appenders/person-appender.xml"/>
    <include resource="appenders/students-appender.xml"/>

    <!-- Уровень логирования по умолчанию -->
<!--    Выполняет перенаправление для всех остальных аппендеров в зависимости от его уровня-->
    <root level="INFO">
        <appender-ref ref="HIBERNATE-INFO-FILE-ROLLING"/>
        <appender-ref ref="HIBERNATE-DEBUG-FILE-ROLLING"/>
        <appender-ref ref="HIBERNATE-ERROR-FILE-ROLLING"/>
        <appender-ref ref="PERSON-INFO-FILE-ROLLING"/>
        <appender-ref ref="PERSON-DEBUG-FILE-ROLLING"/>
        <appender-ref ref="PERSON-ERROR-FILE-ROLLING"/>
        <appender-ref ref="STUDENTS-INFO-FILE-ROLLING"/>
        <appender-ref ref="STUDENTS-DEBUG-FILE-ROLLING"/>
        <appender-ref ref="STUDENTS-ERROR-FILE-ROLLING"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>

    <!-- Логирование Hibernate -->
    <logger name="org.hibernate" level="DEBUG" additivity="false">
        <appender-ref ref="HIBERNATE-INFO-FILE-ROLLING"/>
        <appender-ref ref="HIBERNATE-DEBUG-FILE-ROLLING"/>
        <appender-ref ref="HIBERNATE-ERROR-FILE-ROLLING"/>
    </logger>

<!--    Данный логгер добавлен, для игнорирования логов от SessionFactoryImpl так как там логи очень большие.-->
    <logger name="org.hibernate.internal.SessionFactoryImpl" level="OFF" additivity="false"/>

    <!-- Логирование внутри класса DBClass через его индивидуальный логгер. -->
    <logger name="databases.lesson.task1.DBClass" level="INFO" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="databases.lesson.task1.DBClass" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

<!--    Логирование внутри класса PersonRepository через его индивидуальный логгер.-->
    <logger name="homework.seminar3.person_hibernate.repo_service.PersonRepository" level="DEBUG" additivity="false">
        <appender-ref ref="PERSON-INFO-FILE-ROLLING"/>
        <appender-ref ref="PERSON-DEBUG-FILE-ROLLING"/>
        <appender-ref ref="PERSON-ERROR-FILE-ROLLING"/>
    </logger>

    <logger name="databases.seminar.task2.Program" level="DEBUG" additivity="false">
        <appender-ref ref="STUDENTS-INFO-FILE-ROLLING"/>
        <appender-ref ref="STUDENTS-DEBUG-FILE-ROLLING"/>
        <appender-ref ref="STUDENTS-ERROR-FILE-ROLLING"/>
    </logger>


    <logger name="ROOT" level="ERROR" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>



</configuration>
